<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['quees']">Que es?</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['normativa']">Normativa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['formacion']">Formación</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['formatos']">Formatos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['indicadores']">Indicadores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['informes']">Informes</a>
    </li>
</ul>