<!-- <p>
    <i class="fas fa-3x fa-align-justify"></i> normativa works!
</p> -->
<h3>Normatividad:</h3>
<ul>
    <li>
        <a class="dropdown-item" [routerLink]="['/quees']" href="quees.component.html">ISO 9001</a>
    </li>
    <li>
        <a class="dropdown-item" [routerLink]="['/quees']" href="quees.component.html">ISO 45001</a>
    </li>
    <li>
        <a class="dropdown-item" [routerLink]="['/quees']" href="quees.component.html">Ley 1562</a>
    </li>
    <li>
        <a class="dropdown-item" [routerLink]="['/quees']" href="quees.component.html">Ohsas 18001</a>
    </li>
    <li>
        <a class="dropdown-item" [routerLink]="['/quees']" href="quees.component.html">Resolución 0645</a>
    </li>
    <li>
        <a class="dropdown-item" [routerLink]="['/quees']" href="quees.component.html">Resolución 1111 y decretos</a>
    </li>
</ul>