<nav>
    <ul >
        <li >
            <div class="sombra"></div>
            <a class="nav-link" [routerLink]="['/normativa']"><p class="estilo">Normativa</p> </a>
        </li>
        <li>
            <div class="sombra"></div>
            <a class="nav-link" [routerLink]="['/quees']"><p class="estilo">¿Que es?</p></a>
        </li>
        <li >
            <div class="sombra"></div>
            <a class="nav-link" [routerLink]="['/formacion']"><p class="estilo">Formación</p></a>
        </li>
        
        <li *ngIf="isAuth" >
            <div class="sombra"></div>
            <a class="nav-link" [routerLink]="['/formatos']"><p class="estilo">Formatos</p></a>
        </li>
        <li *ngIf="isAuth" >
            <div class="sombra"></div>
            <a class="nav-link" [routerLink]="['/indicadores']"><p class="estilo">Indicadores</p></a>
        </li>
        <li *ngIf="isAuth" >
            <div class="sombra"></div>
            <a class="nav-link" [routerLink]="['/informes']"><p class="estilo">Informes</p></a>
        </li>
    </ul>



</nav>




